* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Inter', sans-serif;
}
.cabecalho {
    background-color: #2C3B59;
    color: white;
    display:inline-block ;
    display: flex;
    justify-content: space-around;
    align-items:;
    padding: 24px 0;
}
.nome{
    display: inline-block;
    display: flex;
    margin-left:0px;
}

.cabecalho-imagem{
    width: 20px;
}

.cabecalho-lista-item{
    display: inline-block;
    margin-top:100px;
    font-size: 24px;
}
.sobre{
    background-image: linear-gradient( #2C3B59,#FFFFFF);
    color:black ;
    justify-content: center;
    align-items: center;
    padding:24px 0;
}
.sobre-div-conteudo{
    width: 40%;
}
.sobre-titulo{
    padding:10px 0 ;
}
.experiencias-titulo{
    padding:10px 0 ;
}
.rodape{
   background-color:D9D9D9 ; 
}